:root {
  --yellow-color: #ffe812;
  --header-bg-color: #9ab6ce;
  --chat-body-bg-color: #a1c1d8;
  --chat-input-bg-color: #fff;
  --conatiner-border-color: #000;
}

.container {
  width: 768px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--conatiner-border-color);
}

.header {
  background-color: var(--header-bg-color);
  width: 100%;
  height: 100px;
}

.message {
  background-color: var(--chat-body-bg-color);
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.chat {
  background-color: var(--chat-input-bg-color);
  width: 100%;
  height: 100px;
}

.msg {
  margin-left: auto;
  margin-right: 10px;
  width: fit-content;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--yellow-color);
}
